<div class="main-area">
    <div class="container">
        <!--logo-->
        <div class="logo">
            <a routerLink="/"><img src="./assets/images/brand/logo/logo.png" alt=""></a>
        </div>
        <!---form-area-->
        <div class="form-area">
            <!---form-area-top-->
            <div class="form-area-top">
                 <h3>Worried?</h3>
                 <p>No Problem! Just Follow The Simple Way</p>
            </div>
            <!---form-main-->
            <form action="#">
                <!---form-main-->
                <div class="form-main">
                    <!--input-area-->
                    <div class="form-input-area">
                         <div class="form-input-area-main">
                            <div class="form-input">
                                <input type="email" value="" placeholder="Enter Your Email" autocomplete="off">
                            </div>
                           <div class="form-sub-btn">
                               <button>get reset link</button>
                           </div>
                         </div>
                    </div><!---end-->
                
                </div>

            </form>
        </div><!----end-->
        <!---main--bottom-->
        <div class="main-bottom">
            <p>Go Back To <a routerLink="../login">Login Here</a></p>
        </div>
        <!---ntt-->
        <div class="ntt">
            <p>Greeny | © Copyright by <a href="#">Softlab It</a></p>
        </div>

    </div>
</div>
