<div class="main-area">
    <div class="container">
        <!--logo-->
        <div class="logo">
            <a routerLink="/"><img src="./assets/images/brand/logo/logo.png" alt=""></a>
        </div>
        <!---form-area-->
        <div class="form-area">
            <!---form-area-top-->
            <div class="form-area-top">
                 <h3>Join Now!</h3>
                 <p>Setup A New Account In A Minute </p>
            </div>
            <!---form-main-->
            <form action="#">
                <!---form-main-->
                <div class="form-main">
                    <!---social-->
                    <div class="social-area">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i>login with facebook</a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i>login with twitter</a></li>
                            <li><a href="#"><i class="fab fa-google"></i>login with google</a></li>
                            <li><a href="#"><i class="fab fa-instragram"></i>login with instagram</a></li>
                        </ul>
                    </div>
                    <!--or-area-->
                    <div class="or-area">
                        <div class="or">
                            <span>Or</span>
                        </div>
                       
                    </div>
                    <!--input-area-->
                    <div class="form-input-area">
                         <div class="form-input-area-main">
                            <div class="form-input">
                                <input type="text" value="" placeholder="Enter Your Name" autocomplete="off">
                            </div>
                            <div class="form-input">
                                <input type="email" value="" placeholder="Enter Your Email" autocomplete="off">
                            </div>
                            <div class="form-input">
                               <input type="password" value="" placeholder="Enter Your Password">
                           </div>
                           <div class="form-input">
                            <input type="password" value="" placeholder="Enter Repeat Password">
                        </div>
                           <div class="form-input" style="margin-bottom: 15px;">
                               <mat-checkbox class="mat-check">Accept all the Terms & Conditions</mat-checkbox>
                           </div>
                           <div class="form-sub-btn">
                               <button>register</button>
                           </div>
                         </div>
                         <!--forget-area-->
                         <!-- <div class="forget">
                            <p>Forgot Your Password? <a href="#">Reset Here</a></p>
                         </div> -->

                    </div><!---end-->
                
                </div>

            </form>
        </div><!----end-->
        <!---main--bottom-->
        <div class="main-bottom">
            <p>Already Have An Account? <a routerLink="../login">Login Here</a></p>
        </div>
        <!---ntt-->
        <div class="ntt">
            <p>Greeny | © Copyright by <a href="#">Softlab It</a></p>
        </div>

    </div>
</div>
