
<div class="header">
    <h2>Transactions</h2>
</div>
  
  <hr class="center-ball">
  
  
  <div class="table-container">
    <table>
      <thead>
      <tr class="table-head">
        <th scope="col">{{'Order'}}</th>
        <th scope="col">{{'Date'}}</th>
        <th scope="col">{{'Payment Type'}}</th>
        <th scope="col">{{'Total'}}</th>
        <th scope="col">{{'Action'}}</th>
      </tr>
      </thead> <!-- End Table Head -->
      <tr *ngFor="let data of [1,2,3,4]">
        <td [attr.data-label]="'Order'">0002</td>
        <td [attr.data-label]="'Date'">Sep 3, 2022</td>
        <td [attr.data-label]="'Payment Type'">Cash on Delivery</td>
        <td [attr.data-label]="'Total'">৳300</td>

        <td [attr.data-label]="'Actions'">
          <button mat-mini-fab color="primary"  style="background-color:#232433;">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </tr><!-- End Table Body -->
    </table>
  </div>
  