<section class="admin-data-sec">
    <div class="top-data-header">
        <div class="title">
            <h2>My Orders</h2>
        </div>
    </div> <!-- END TOP DATA HEADER -->
    <hr class="center-square">
    <div class="table-wrapper space">
        <table>
            <tr>
                <th>SI</th>
                <th>Image</th>
                <th>Order No</th>
                <th>Created Date</th>
                <th>Order Status</th>
                <th>Grand total</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let data of [1,2,3,4]">
                <td>1</td>
                <td><img src="./assets/images/temp/products/01.jpg" alt=""></td>
                <td>12345</td>
                <td>Sep 3, 2022</td>
                <td>On the Way</td>
                <td> <span>৳ 275</span></td>
                <td class="td-action">
                    <a style="margin-left: 5px;" routerLink="../order-details" mat-mini-fab style="background-color: #056c65; color:#fff;" mat-icon-button matTooltip="View Details">
                        <mat-icon>visibility</mat-icon>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</section>