@import'src/theme/variables';
.change-password-area{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.change-pass-main{
    max-width: 500px;
    width: 100%;
}
.title{
    display: block;
    margin-bottom: 15px;
}
.title h3{
    color: $heading-color;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
}
.form-input{
    display: block;
    width: 100%;
}
.w-100{
    display: block;
    width: 100%;
}
.field input,.field mat-select, .field mat-option{
    display: block;
    color: $heading-color;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.field mat-label{
    color: $heading-color;
    font-weight: 400;
    font-size: 16px;
    font-family: $font-en-primary;
    font-style:normal;
}
.form-input h3{
    display: block;
    color: $heading-color;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px!important;
}
::ng-deep.field.mat-form-field-infix{
    min-width: auto;
    width: 100%;
}
::ng-deep.field.mat-form-field-appearance-outline .mat-form-field-outline{
    color: #b2bac1;
}
::ng-deep.field.mat-form-field-appearance-outline .mat-form-field-outline-thick{
    color: $color-primary;
}
::ng-deep.field.mat-form-field-appearance-outline .mat-form-field-infix{
    padding: 0.5em 0 1em 0;
}
.form-input mat-radio-group{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 15px;
}
.form-input mat-radio-button{
    color: $heading-color;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
::ng-deep.form-input .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: $color-primary;
}
::ng-deep.form-input .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: $color-primary;
}
::ng-deep.form-input .mat-radio-button .mat-radio-ripple{
    display: none;
}
.forgot-pass{
    margin-bottom: 20px;
}
.forgot-pass a{
    color: #0d29b3;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: block;
}
.sub-btn{
    display: block;
}
.sub-btn button{
    background-color: $color-primary;
    color: #fff;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    max-width: 180px;
    width: 100%;
    display: block;
    text-transform: capitalize;
    padding: 4px 0px;
}