<div class="change-password-area">
     <div class="change-pass-main">
          <div class="title">
              <h3>Change Password</h3>
          </div>
          <div class="form">
               <form>
                <div class="form-input">
                    <mat-form-field appearance="outline" class="w-100 d-block field">
                        <mat-label>Old password</mat-label>
                        <input matInput value="" type="text" placeholder="old password">
                    </mat-form-field>
                </div>
                <div class="form-input">
                    <mat-form-field appearance="outline" class="w-100 d-block field">
                        <mat-label>New password</mat-label>
                        <input matInput value="" type="text" placeholder="new password">
                    </mat-form-field>
                </div>
                <div class="form-input">
                    <mat-form-field appearance="outline" class="w-100 d-block field">
                        <mat-label>Retype new password</mat-label>
                        <input matInput value="" type="text" placeholder="Retype new password">
                    </mat-form-field>
                </div>

                  <div class="forgot-pass">
                     <a routerLink="/reset-password">Forget Password?</a>
                  </div>
                  <div class="sub-btn">
                      <button mat-button>Change Password</button>
                  </div>
               </form>
          </div>
     </div>
</div>
