<div class="loader-area" *ngIf="this.ngxLoader.loader == true">
    <div class="loader-main">
        <div class="loader-circle">
            <span class="rotate-circle"></span>
        </div>
        <div class="loader-text-ani">
            <span data-text="G">G</span>
            <span data-text="R">R</span>
            <span data-text="E">E</span>
            <span data-text="E">E</span>
            <span data-text="N">N</span>
            <span data-text="Y">Y</span>
        </div>
    </div>
</div>